html, body {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(171, 183, 183, 1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 51px;
    width: auto;
}

h1 {
    margin-left: 1em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
}

#divRelatorios ul li {
    list-style: none;
}

#divRelatorios ul li label {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
}

#divRelatorios ul li label span{
    width: 15em;
}