html, body {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(171, 183, 183, 1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 51px;
    width: auto;
}

h1 {
    margin-left: 1em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
}

/* #divRelatorios {
    background: red;
} */