html, body {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(171, 183, 183, 1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 51px;
    width: auto;
}

h1 {
    margin-left: 1em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
}

#divRelatorios .divRelatorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-top: 1em;
}

#divRelatorios .tabela {
    display: none;
}


#divRelatorios .divRelatorio .mostrar {
    display: block;
}

#divRelatorios .divRelatorio .tabela .legenda {
    width: 20em;
    display: flex;
}

#divRelatorios .divRelatorio .legenda .prod {
    text-align: center;
    width: 7em;
    border: 1px solid black;
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
}

#divRelatorios .divRelatorio .legenda .quant {
    text-align: center;
    width: 4em;
    border: 1px solid black;
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
}

#divRelatorios .divRelatorio ul {
    width: 20em;
    margin-top: 0;
    padding: 0;
}

#divRelatorios .divRelatorio ul li {
    list-style: none;
}

#divRelatorios .divRelatorio ul li label {
    display: flex;
    justify-content: flex-start;
}

#divRelatorios .divRelatorio ul li label span{
    text-align: center;
    width: 7em;
    border: 1px solid black;
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
}

#divRelatorios .divRelatorio ul li label .li_span_prod{
    width: 7em;
    padding-top: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
}

#divRelatorios .divRelatorio ul li label .li_span_quant{
    width: 4em;
    padding-top: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
}

#divRelatorios .divRelatorio ul li label .li_span_input{
    width: 2.5em;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}


#divRelatorios .divRelatorio ul li label input {
    appearance: none;
    height: 2.5em;
    width: 2.5em;
    background-color: #d5d5d5;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divRelatorios .divRelatorio ul li label input:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 2em;
    color: white;
    display: none;
}

#divRelatorios .divRelatorio ul li label input:checked{
    background-color: #5bcd3e;
}

#divRelatorios .divRelatorio ul li label input:checked:after{
    display: block;
}